<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2024-01-10T17:06:40Z</date>
	<key>WorkspacePath</key>
	<string>/Users/joseangelriveaux/Desktop/PostDoc/LRKGA/LRKGA/LRKGA.xcodeproj</string>
</dict>
</plist>
